body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
}

header {
	background-color: #fff;
	color: #fff;
	text-align: center;
	padding: 0.5em;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #222;
}

section {
	max-width: 800px;
	padding: 2em;
	background-color: #fff;
}

h1{
	font-family: 'Times New Roman';
	font-style: italic;
	color: #333;
}

h1 a {
	text-decoration: none;
	color: #333;
}

h2 {
	margin-top: 3.5em;
	color: #333;
}

p {
	color: #555;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 1em;
}

.schedule {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.event-block {
	width: 100%;
	margin-bottom: 1em;
	padding: 1em;
	border-top: 1px solid #222;
}

footer {
	font-size: small;
	background-color: #fff;
	color: #fff;
	text-align: center;
	padding: 1em;
	bottom: 0;
	width: 100%;
}

a {
	color: #FFAC46;
	text-decoration: none;
}

a:hover {
    transition: color 0.3s;
	color: #333;
}

.tag {
	color: #FFAC46;
	padding:0px 0px 0px 0px;
}

.house {
	color: green;
}

.konzert {
	color: #69A1AC;
}
